body{
    /* padding: 0 200px; */
    margin: 0;
    background-color: #FFFAE6;
    margin: 0;
}

header{
    position: fixed;
    background-color: #FFFAE6;
    width: 70%;
    padding: 0 15%;
}
.header__sitename {
    text-decoration: none;
    color: #333;
    font-size: 40px;
}

header:after{
    content: "";
    display: block;
}

.tab_wrap {
    margin: 0;
    padding: 0;
    width: 100%;
}

input[type="radio"] {
    display: none;
}

.tab_area {
    font-size: 0;
    background: #fac800;
    border-radius: 5px;
    padding: 0 10px;
}

.tab_area label {
    width: 150px;
    display: inline-block;
    padding: 12px 0;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    transition: ease 2.0s opacity;
    border: 1px solid #fac800;
}

.tab_area label:hover {
    background: #FAD74B;
}

.panel_area {
    background: #fff;
    width: 70%;
    padding: 0 15%;
}

.tab_panel {
    width: 100%;
    padding: 80px 0;
    display: none;
}

.tab_panel p {
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
}

#tab1:checked~.tab_area .tab1_label {
    background:#fff;
    color: #000;
}

#tab1:checked~.panel_area #panel1 {
    display: block;
}

#tab2:checked~.tab_area .tab2_label {
    background:#fff;
    color: #000;
}

#tab2:checked~.panel_area #panel2 {
    display: block;
}

#tab3:checked~.tab_area .tab3_label {
    background:#fff;
    color: #000;
}

#tab3:checked~.panel_area #panel3 {
    display: block;
}

#tab4:checked~.tab_area .tab4_label {
    background:#fff;
    color: #000;
}

#tab4:checked~.panel_area #panel4 {
    display: block;
}

.works {
    width: 70%;
    padding:150px 15% 0 15%;
}